.desaparecidos {
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
}

.card {
  height: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem #e1e5ee;

  .containerPerfil {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .idade {
    margin: 0.3rem 0;
  }

  img {
    height: 100%;
    width: 40%;
    border-radius: 0.7rem;
  }

  h3 {
    font-weight: 600;
    font-size: 1.4rem;
  }

  p {
    color: rgba(0, 0, 0, 0.849);
  }

  .encontrado, .desaparecido {
    padding: 4px 10px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-weight: 600;

    img {
      width: 1.3rem;
    }
  }

  .encontrado {
    background-color: #d4edda;
    color: #155724;
  }

  .desaparecido {
    background-color: #f8d7da;
    color: #721c24;
  }

  .descricoes {
    padding: 2rem 0.7rem 0.7rem 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    div {
      display: flex;
      gap: 0.5rem;

      img {
        width: 1.2rem;
      }
    }
  }

  span {
    font-weight: 600;
  }
}

.aviso {
  width: max-content;
  padding: 1rem;
  grid-column: 2/11;

  font-size: 1.2rem;
  color: #7b808fd2;
}
