.cabecalho {
  padding: 1.5rem 2.5rem;
  
  background-color: #0b203e;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #ffffff;

  .logoTitulo {
    display: flex;
    gap: 2rem;
  }

  .coracao {
    height: fit-content;
    width: 3rem;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 0.875rem;
  }

  nav,
  ul {
    display: flex;
    align-items: center;
  }

  nav {
    gap: 4vw;
  }

  ul {
    list-style: none;
    gap: 2.5rem;
    font-size: 1rem;

    a {
      text-decoration: none;
      color: #ffffff;
    }

    .inicio {
      padding: 0.4rem 0.9rem;
      background-color: #316ce1;
      border-radius: 1rem;
    }
  }

  button {
    padding: 0.5rem;
    background-color: transparent;
    border: 2px solid #2e62ad;
    border-radius: 0.5rem;
    cursor: pointer;

    font-size: 1rem;
    color: #ffffff;

    &:hover {
      background-color: #183e72;
    }
  }
}
