.containerPesquisa {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    padding: 1rem;
    box-shadow: 0 7px 10px #e5e9f0;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;

    img {
      width: 3rem;
    }
  }

  input {
    width: 30rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.288);
    border-radius: 0.7rem 0 0 0.7rem;

    font-size: 1.3rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #7b808f;
      opacity: 1;
    }
  }

  button {
    padding: 1rem 1.9rem;
    background-color: #2f69dc;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0 0.7rem 0.7rem 0;

    font-size: 1.3rem;
    color: #fff;
  }
}
